/* 
selector {
    propiedad:valor;
    propiedad:valor;
}
*/ 


body{
    background-color: rgb(229, 228, 208);
}

img{
    display: block; /* Cambia display a block */
    margin: auto; /* Centra horizontalmente */
    width: 150px;
    height: 190px;
}

p{
    color:rgb(10, 110, 110);
}


.titulo{
    font-family: 'Source Code Pro', monospace;
    font-size: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indice {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;   
    display: inline-block; 
    margin-right: 15px; /* Espacio entre elementos li */
}


a{
    padding: 0;
    margin: 0 auto;   
    display: inline-block; 
    color: rgb(28, 29, 75);
    text-align: center;
    margin-right: 15px; /* Espacio entre elementos li */
}

h3 {
    font-size: 20px;
    text-align: center;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: rgb(241, 199, 19);
}