/* 
selector {
    propiedad:valor;
    propiedad:valor;
}
*/ 

body{
    background-color: rgb(223, 195, 236);
}

img{
    
    width:100px ;
    height:100px;
}

p{
    color: blueviolet;
}

.p-pandas{
    color: rgb(50, 50, 188);
}

.titulo{
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    color: rgb(203, 95, 152);
    text-decoration: none;
}